---
layout: default
---

<div class='container'>

	<!-- LATEST -->
	{% assign collections = site.collections | sort: 'date' | reverse %}
	{% for collection in collections limit:1 %}
	<div class='row gallery' style='margin-bottom:40px;'>
		<div class='col-xs-12'>
			<a href='{{ collection.url | prepend:site.baseurl | prepend:site.url }}'>
				<h1 style='text-transform:uppercase;'>{{ collection.title }}</h1>
			</a>
		</div>

		{% for category in site.data.categories %}
			<div class='col-xs-12'>
				<h3 style='text-transform:capitalize;'>{{ category.name }}</h3>
			</div>
			{% for image in site.static_files %}
				{% assign new_var = collection.title | append: '/' | append: category.name %}
				{% if image.path contains new_var %}
				<a class='col-xs-12 col-sm-3 img' href='{{ site.baseurl }}{{ image.path }}' title=''>
					<img class='img-responsive img-thumb' src='{{ site.baseurl }}{{ image.path }}' alt='{{ image.path }}' />
				</a>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>
	{% endfor %}

	<!-- ARCHIVE -->
	<div class='archive'>
		<h1>Collections</h1>
		{% assign collections = site.collections | sort: 'title' | reverse %}
		{% for collection in collections %}
		<a href='{{ collection.url | prepend:site.baseurl | prepend:site.url }}'>
			<h2>{{ collection.title }}</h2>
		</a>
		{% endfor %}
	</div>

</div>

{% include pagination.html %}