/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/
/* partials */
/*------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------*/
/* nav */
/*------------------------------------------------------------------------------------*/

#menu {
	position: fixed;
	background: white !important;
	font-size: 100% !important;
	z-index: 9999;
}
	#menu * {
		background: none;
	}
	#menu a {
		color: black;
	}
	#menu * a:hover,
	#menu * a:active {
		color: #ff5722 !important;
	}

#menu .menu-link {
	position: fixed;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 18px;
	z-index: 9999;
	padding: 20px;
	border: 0px;

	&:hover {
		text-decoration: none !important;
		cursor: pointer !important;
	}

	&:before {
		content: "Menu";
	}

	&.active {
		color: red !important;
	}
}

.menu-link, .dropdown, .menu-link:active, .dropdown:active {
	transition: all 0.2s ease;
}

.dropdown {
	background: white !important;
	display: none;
	position: fixed;
	width: 400px;
	height: 100%;
	top: 0;
	right: 0;
	padding: 40px 0;
	z-index: 999;
	overflow: scroll;

	@media #{$sm} {
		width: 100%;
	}
}

.active {
	display: inline-block !important;
}

.opac {
	display: inline-block !important;
	opacity: 0.5;
}